In [24]:
import yfinance as yf

In [30]:
symbol = "TQQQ"
stock = yf.Ticker(symbol)
stock.history(period='1d')['Close'][0]

42.38

In [32]:

stock.history(period='1d')

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-03-15,40.869999,43.139999,40.2397,42.18,54145538,0,0

In [35]:

stock.history(period='1d')['Close'][0]

42.25